<div class="row">
  <div class="col col-md-3">
    <div class="list-group" id="album-list">
      <%= render partial: "album", collection: @support.albums, as: :album %>
    </div>
  </div>
  <div class="col col-md-9">
    <div id="form-upload">
    </div>
    <div id="images-presentation">
    </div>
  </div>
</div>
