<div class="row">
  <div class="col col-md-8">
    <%= render "shared/treatment_phases/conversation", treatment_phase: treatment_phase,
      messages: support.messages %>
  </div>

  <div class="col col-md-4">
    <h4><%= t ".treatment_plan_files" %></h4>
    <ul class="list-group">
      <li class="list-group-item">Treatment plan file 1</li>
      <li class="list-group-item">Treatment plan file 2</li>
      <li class="list-group-item">Treatment plan file 3</li>
    </ul>
  </div>
</div>
