<h3 class="title logo-font text-default">Ưu điểm vượt trội</h3>
<section class="stats padding-bottom-clear dark-translucent-bg home-section" style="background-image:url('https://toididao.files.wordpress.com/2017/12/catalog-16.png'); background-position: 50% 50%;">

  <div class="container-fluid">
    <div class="row grid-space-0">
      <div class="col-lg-12 pv-40 darkanslucemd-bg col-xs-12 col-sm-3">
        <div class="feature-box object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="300">
          <ul style="list-style: none;">
            <li class="mb-3">
              <span class="without-bg mr-1">
                <i class="fa fa-check-square fa-lg"></i>
              </span>
              Khay chỉnh nha Vinalign có thể tháo lắp, vì thế dễ dàng vệ sinh răng miệng, đảm bảo sức khoẻ răng miệng trong cả quá trình chỉnh nha dài kỳ.
            </li>
            <li class="mb-3">
              <span class="without-bg mr-1">
                <i class="fa fa-check-square fa-lg"></i>
              </span>
              Khay chỉnh nha Vinalign hoàn toàn trong suốt, khó có thể nhìn thấy bằng mắt vì vậy bạn hoàn toàn tự tin trong các hoạt động thường ngày, trong giao tiếp...
            </li>
            <li class="mb-3">
              <span class="without-bg mr-1">
                <i class="fa fa-check-square fa-lg"></i>
              </span>
              Bạn đang lo lắng vì sắp tới bạn đang có một sự kiện quan trọng không thể đeo được mắc cài. Đừng lo lắng ! hãy trải nghiệm sự thoải mái, năng động và hiệu quả của khay chỉnh nha Vinalign.
            </li>
            <li class="mb-3">
              <span class="without-bg mr-1">
                <i class="fa fa-check-square fa-lg"></i>
              </span>
              Là một người yêu thể thao, bạn lo lắng cho các hoạt động của mình? Đã có chỉnh nha trong suốt Vinalign cho một cuộc sống năng động của bạn.
            </li>
            <li class="mb-3">
              <span class="without-bg mr-1">
                <i class="fa fa-check-square fa-lg"></i>
              </span>
              Bằng công nghệ tiến tiến, các vật liệu khay được nhập khẩu từ Mỹ, bạn hoàn toàn yên tâm về một chất lượng, cũng như hiệu quả đã được đảm bảo.
            </li>
            <li class="mb-3">
              <span class="without-bg mr-1">
                <i class="fa fa-check-square fa-lg"></i>
              </span>
              Là một người bận rộn và năng động, bạn hoàn toàn có quyền lựa chọn sản phẩm khay chỉnh nha trong suốt Vinalign để tiết kiệm thời gian tái khám, cũng như thời gian đi lại của chính mình.
            </li>
          </ul>

</section>
