<section class="home-section">
  <h3 class="title logo-font text-default">Cuộc sống trọn vẹn với Vinalign</h3>
  <p class="mb-20">
    Bạn hãy xem, bạn sẽ được lợi gì?
  </p>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon large default-bg circle">
          <i class="fa fa-diamond"></i>
        </span>
        <h4>Confident</h4>
        <div class="separator clearfix"></div>
        <p class="text-justify">
          Điều trị bằng hệ thống khay trong suốt Vinalign, thật dễ dàng tự tin nở nụ cười để có những bức ảnh đẹp bất cứ khi nào.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon large default-bg circle">
          <i class="fa fa-star"></i>
        </span>
        <h4>Smile</h4>
        <div class="separator clearfix"></div>
        <p class="text-justify">
          Khi điều trị bằng khay trong suốt Vinalign, bạn vẫn là chính mình, không phải giấu đi nụ cười trong quá trình điều trị.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon large default-bg circle">
          <i class="fa fa-tag"></i>
        </span>
        <h4>Comfortable</h4>
        <div class="separator clearfix"></div>
        <p class="text-justify">
          Hoàn toài thoải mái, nhẹ nhàng, bạn không phải lo có các mắc cài sắc làm ảnh hưởng đến sinh hoạt hàng ngày.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon large default-bg circle">
          <i class="fa fa-suitcase"></i>
        </span>
        <h4>Easy to use</h4>
        <div class="separator clearfix"></div>
        <p class="text-justify">
          Sau mỗi bữa ăn, hoàn toàn dễ dàng cho công việc vệ sinh răng miệng, chỉ cần tháo khay, chải răng và lại đeo khay lại.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon large default-bg circle">
          <i class="fa fa-skyatlas"></i>
        </span>
        <h4>Flexible</h4>
        <div class="separator clearfix"></div>
        <p class="text-justify">
          Bạn luôn sợ hãi khi ăn với các mắc cài truyền thống? Không có vấnđề gì. Vì khay chỉnh nha rõ ràng có thể tháo rời được, bạn có quyền tự do ăn, nhai và uống bất cứ thứ gì bạn thích.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon large default-bg circle">
          <i class="fa fa-repeat"></i>
        </span>
        <h4>No more waste time</h4>
        <div class="separator clearfix"></div>
        <p class="text-justify">
          Lịch hẹn linh động, thời gian tái khám đơn giản và giảm thời gian chờ đợi của bạn.
        </p>
      </div>
    </div>
  </div>
</section>
