<section class="home-section">
  <h3 class="title logo-font text-default">Giải pháp chỉnh nha hoàn hảo !</h3>
  <%= image_tag "https://toididao.files.wordpress.com/2017/12/catalog-25.png" %>
</section>
