<section class="home-section">
  <h3 class="title logo-font text-default">Giải pháp chỉnh nha hoàn hảo!</h3>
  <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-25.png" %>
</section>
