<section class="clearfix home-section">
  <h3 class="title logo-font text-default">Giới thiệu về hệ thống chỉnh nha Vinalign</h3>
  <p class="text-justify">
    Bạn đang muốn niềng răng để có hàm răng đều và đẹp, tuy nhiên bạn chưa đủ tự tin để sử dụng phương pháp niềng răng truyền thống bằng việc gắn các hạt mắc cài trên răng. Hãy đến với công nghệ khay chỉnh nha trong suốt Vinalign để trải nghiệm một phương pháp chỉnh nha hiện đại nhất hiện nay.
    </br>
    Với công nghệ chính xác vượt trội, hệ thốngVinalign sử dụng kỹ thuật 3D(kỹ thuật số) để tạo ra các khay chỉnh nha hoàn toàn thẩm mỹ, chính xác và hiệu quả. Bạn còn băn khoăn gì nữa? Hãy đến và tư vấn với các chuyên gia của chúng tôi!
  </p>
  <div class="col-lg-8 offset-lg-2">
    <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-5.png" %>
  </div>
</section>
