<div class="col col-md-4">
  <div class="image-box style-2 mb-20 bordered light-gray-bg">
    <div class="overlay-container overlay-visible">
      <%= image_tag image.source.thumb.url %>
    </div>
    <div class="body" style="padding: 5px">
      <%= File.basename image.source.url %>
    </div>
  </div>
</div>
