<a id="notification-icon" href="#" class="dropdown-toggle" data-toggle="dropdown">
  <i class="fa fa-bell-o"></i>
  <% if unread_noti_count > 0 %>
    <span class="label label-danger"><%= unread_noti_count %></span>
  <% end %>
</a>
<ul class="dropdown-menu">
  <li class="header" id="notification-message">
    <%= t ".unread_notification_title_html", count: unread_noti_count %>
  </li>
  <li>
    <ul class="menu" id="notification-list">
    </ul>
  </li>
  <li class="footer">
    <%= link_to t(".view_all"), my_page_notifications_path %>
  </li>
</ul>
