<li class="<%= 'bg-warning' unless notification.is_read? %>">
  <%= link_to notification.target_path do %>
    <i class="fa fa-users text-aqua"></i><%= notification_content_format notification.content %>
    <%= time_with_format notification.created_at %>
  <% end %>
</li>
