<% provide :header_title, t(".edit_patient_record") %>
<% breadcrumb :clinic_mngt_edit_patient_record, @patient_record %>
<% content_for :patient_records_activation, "active" %>
<div class="box">
  <div class="box-body">
    <%= form_for [:clinic_management, @patient_record], html: {class: "form-horizontal", multipart: true} do |f| %>
      <%= render "form", f: f, patient_record: @patient_record %>
    <% end %>
  </div>
</div>
