<%= render "shared/patient_records/provide_patient_record_side_bar", patient_record: @patient_record,
  scope: :admin, current_site: :administrative_informations %>
<%= render "admin/clinics/provide_clinic_side_bar", clinic: @patient_record.clinic, current_site: :patient_records %>
<% provide :header_title, t(".patient_record_title_html", clinic_name: @patient_record.clinic.name,
  patient_name: @patient_record.full_name) %>
<% breadcrumb :admin_patient_record, @patient_record %>
<div class="row patient-record-detail">
  <div class="col-md-6">
    <%= render "shared/patient_records/details", patient_record: @patient_record, scope: :admin %>
  </div>
  <div class="col-md-6">
    <%= image_tag @patient_record.profile_photo.url %>
  </div>
</div>
