<div class="modal-footer mx-5 pt-3 mb-1">
  <p class="text-right">
    <% unless controller_name == "sessions" %>
      <%= t ".have_your_own_account" %>
      <%= link_to t(".log_in"), new_session_path(resource_name) %><br />
    <% end %>
  </p>
</div>
