<% provide :header_title, t(".edit_article") %>
<% content_for :articles_activation, "active" %>
<div class="box">
  <div class="box-body">
    <%= form_for [:admin, @article], html: {multipart: true} do |f| %>
      <%= render "form", f: f, clinic: @article %>
    <% end %>
  </div>
</div>
