<section class="pv-20 home-section light-gray-bg">
   <div class="container">
     <h3 class="title logo-font text-center text-default"><span class="text-muted">About </span>Vinalign </h3>
     <div class="separator"></div>
      <div class="row">
         <div class="col-lg-8">
            <h3 class="mt-4">Latest <span class="text-default">Vinalign News</span></h3>
            <div class="separator-2"></div>
            <div class="block">
               <div class="media margin-clear">
                  <div class="d-flex pr-2">
                     <div class="overlay-container">
                        <img class="media-object" src="https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/medical-blog-thumb-1.jpg" alt="blog-thumb">
                        <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                     </div>
                  </div>
                  <div class="media-body">
                     <h5 class="media-heading mb-2"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.</p>
                     <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                  </div>
               </div>
               <hr>
               <div class="media margin-clear">
                  <div class="d-flex pr-2">
                     <div class="overlay-container">
                        <img class="media-object" src="https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/medical-blog-thumb-2.jpg" alt="blog-thumb">
                        <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                     </div>
                  </div>
                  <div class="media-body">
                     <h5 class="media-heading mb-2"><a href="#">Cum eligendi nisi rerum porro</a></h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.</p>
                     <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                  </div>
               </div>
               <hr>
               <div class="media margin-clear">
                  <div class="d-flex pr-2">
                     <div class="overlay-container">
                        <img class="media-object" src="https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/medical-blog-thumb-3.jpg" alt="blog-thumb">
                        <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                     </div>
                  </div>
                  <div class="media-body">
                     <h5 class="media-heading mb-2"><a href="#">Cum eligendi nisi rerum porro</a></h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.</p>
                     <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col col-md-12 col-lg-4">
            <div class="pv-30 ph-20 mt-20 white-bg feature-box bordered text-center">
               <span class="icon default-bg circle"><i class="fa fa-clock-o"></i></span>
               <h3>Opening Hours</h3>
               <div class="separator-2 mt-20 clearfix"></div>
               <ul class="list-unstyled small list-icons text-left">
                  <li><strong class="text-default">Monday - Friday</strong> <span class="pull-right">8.00 - 18.00</span></li>
                  <li><strong class="text-default">Saturday</strong> <span class="pull-right">9.00 - 16.30</span></li>
                  <li><strong class="text-default">Sunday</strong> <span class="pull-right">9.30 - 16.00</span></li>
               </ul>
               <div class="separator-3 mt-20 clearfix"></div>
               <p class="small text-default">Welcome to Vinalign!</p>
            </div>
         </div>
      </div>
   </div>
</section>
