<section class="home-section clearfix">
  <div class="container p-0">
    <h3 class="title logo-font text-default pl-10"><span class="text-muted">About the </span>Vinalign Orthodontic System</h3>
    <div class="separator"></div>
    <p class="pl-10 pr-10 text-justify">
      You want braces to have good and beautiful teeth, but you are not con dent enough to use traditional braces by attaching braces on teeth. Come to Orthodontic Tray Technology throughout Vinalign to experience the most modern orthodontic approach today.
      <br />
      <br />
      With superior precision technology, the Vignign system uses 3D (digital) technology to create orthodontic trays that are completely aesthetically correct and e ective. What more do you have? Come and consult with our experts!
    </p>
    <br>
    <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/Catalog-5.png" %>
  </div>
</section>
