<section class="mb-20 mt-20 clearfix home-section">
   <div class="container pv-20">
      <div class="row justify-content-lg-center">
         <div class="col-lg-8">
            <h3 class="mt-4 text-center">Meet Our <span class="text-default">Team</span></h3>
            <div class="separator"></div>
            <p class="lead text-center">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo dignissimos, adipisci
              ipsa aut voluptate consequuntur ad minus rerum reprehenderit fuga quis eum eveniet eligendi,
              fugit neque laboriosam unde quae incidunt.
            </p>
         </div>
      </div>
   </div>
   <div class="row grid-space-0">
      <div class="col-lg-3 col-md-6">
         <div class="image-box team-member shadow mb-20">
            <div class="overlay-container overlay-visible">
               <img src="/assets/medical-team-member-1.jpg" alt="">
               <a href="#" class="overlay-link" title="Jane Doe - CEO"><i class="fa fa-link"></i></a>
               <div class="overlay-bottom">
                  <div class="text">
                     <h3 class="title">Dr. Jane Doe</h3>
                     <div class="separator light"></div>
                     <p class="small margin-clear"><em>Diabetologists‎ <br> Lorem ipsum dolor sit</em></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-md-6">
         <div class="image-box team-member shadow mb-20">
            <div class="overlay-container overlay-visible">
               <img src="/assets/medical-team-member-2.jpg" alt="">
               <a href="#" class="overlay-link" title="Jane Doe - CEO"><i class="fa fa-link"></i></a>
               <div class="overlay-bottom">
                  <div class="text">
                     <h3 class="title">Prof. Jane Doe</h3>
                     <div class="separator light"></div>
                     <p class="small margin-clear"><em>Dermatologists‎ <br> Lorem ipsum dolor sit</em></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-md-6">
         <div class="image-box team-member shadow mb-20">
            <div class="overlay-container overlay-visible">
               <img src="/assets/medical-team-member-3.jpg" alt="">
               <a href="#" class="overlay-link" title="Jane Doe - CEO"><i class="fa fa-link"></i></a>
               <div class="overlay-bottom">
                  <div class="text">
                     <h3 class="title">Dr. Jane Doe</h3>
                     <div class="separator light"></div>
                     <p class="small margin-clear"><em>Gastroenterologists <br> Lorem ipsum dolor sit</em></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-md-6">
         <div class="image-box team-member shadow mb-20">
            <div class="overlay-container overlay-visible">
               <img src="/assets/medical-team-member-4.jpg" alt="">
               <a href="#" class="overlay-link" title="Jane Doe - CEO"><i class="fa fa-link"></i></a>
               <div class="overlay-bottom">
                  <div class="text">
                     <h3 class="title">Prof. Jooly Doe</h3>
                     <div class="separator light"></div>
                     <p class="small margin-clear"><em>Gynaecologists‎ <br> Lorem ipsum dolor sit</em></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
