<section class="pv-20">
   <div class="full-image-container">
      <img src="https://s3-ap-southeast-1.amazonaws.com/vinalign/front/catalog/web2-1.png" alt="">
   </div>
   <div class="full-text-container">
      <h3 class="logo-font mt-4 text-justify"><span class="text-default ">
        Correct the position of your teeth in the most discreet way - with VINALIGN ALIGNER,
         the transparent splint system by VINALIGN
      </span></h3>
      <div class="separator-3 hidden-lg-down"></div>
   </div>
</section>
