<p>
  <strong><%= TreatmentPhase.human_attribute_name :start_date %>:</strong>
  <%= treatment_phase.start_date %>
</p>
<p>
  <strong><%= TreatmentPhase.human_attribute_name :description %>:</strong><br/>
  <%= custom_simple_format treatment_phase.description %>
</p>
