<div class="direct-chat-msg right">
  <div class="direct-chat-info clearfix">
    <span class="direct-chat-name pull-right">
      <%= sender_profile.first_name + " " + sender_profile.last_name %>
    </span>
    <span class="direct-chat-timestamp pull-left"><%= message.created_at %></span>
  </div>
  <%= image_tag sender_profile.avatar.small.url, class: "direct-chat-img" %>
  <div class="direct-chat-text">
    <%= custom_simple_format message.content %>
  </div>
</div>
