<div class="row">
  <div class="col col-md-12">
    <h3>
      <%= t(".software_name") %>
    </h3>
    <p class="mt-15">
      <%= t(".step_1").html_safe %>
      <%= link_to Settings.software.url, class: "btn btn-flat", target: "_blank" do %>
        <i class="fa fa-download"></i>
        <%= t ".download" %>
      <% end %>
    </p>
  </div>
</div>
