<li class="list-group-item">
  <i class="fa fa-file-code-o"></i>
  <strong><%= File.basename treatment_plan_file.source.url %></strong>
  <%= link_to download_treatment_plan_file_path(treatment_plan_file), 
    class: "pull-right", target: "_blank" do %>
    <%= t ".download" %>
    <i class="fa fa-download"></i>
  <% end %>
  <br/>
  <%= number_to_human_size treatment_plan_file.source.size %>
</li>
