<li class="list-group-item">
  <i class="fa fa-file-code-o"></i>
  <strong><%= File.basename treatment_plan_file.source.url %></strong>
  <br/>
  <%= number_to_human_size treatment_plan_file.source.size %>
</li>
