<div class="dropdown pull-right">
  <a data-toggle="dropdown"><i class="fa fa-bars"></i></a>
  <ul class="dropdown-menu dropdown-menu-right dropdown-btns pull-right">
    <li>
      <%= link_to download_treatment_plan_file_path(treatment_plan_file),
        class: "btn btn-xs btn-flat", target: "_blank" do %>
        <i class="fa fa-download"></i>
        <%= t ".download" %>
      <% end %>
    </li>
    <% if current_user.admin? %>
      <li class="divider"></li>
      <li>
        <%= link_to admin_treatment_phase_treatment_plan_file_path(treatment_phase, treatment_plan_file), method: :delete, remote: true,
          data: {confirm: t(".confirm_delete", treatment_plan_file: File.basename(treatment_plan_file.source.url))} do %>
          <i class="fa fa-pencil-square-o"></i>
          <%= t ".delete" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
