$(document).on("change", ".auto_upload_files", function(){ 
  var data = new FormData($(this)[0]),
    url = $(this).attr("action"),
    method = $(this).attr("method");
  $(".content").append("<div class='loading'><i class='fa fa-refresh fa-spin'></i></div>");
  $.ajax({
    type: method,
    processData: false,
    contentType: false,
    cache: false,
    url: url,
    data: data,
    dataType: "script"
  });
});
