<div class="row" style="margin: 5px;">
  <div class="col-md-3 text-right">
    <strong><%= PatientRecord.human_attribute_name attribute %></strong>
  </div>
  <div class="col-md-9"><%= value %></div>
</div>
