<div class="col-lg-3 col-md-6">
  <div class="footer-content">
    <h3 class="title text-default">About us</h3>
    <div class="logo-footer mb-3">
      <%= image_tag Settings.logo.url, id: "logo_img", width: "135" %>
    </div>
    <p>
      Correct the position of your teeth in the most discreet way - with VINALIGN ALIGNER,
        the transparent splint system by VINALIGN
    </p>
  </div>
</div>
