<div class="col-lg-4">
  <div class="footer-content">
    <h2 class="title">About Us</h2>
    <div class="logo-footer">
      <%= image_tag Settings.logo.url, id: "logo_img", width: "135" %>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus illo vel dolorum soluta
      consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipit doloribus.
      Lorem ipsum dolor sit amet, consecteturadipisicing elit. Sed dolore fugit vitae quia dicta inventore
      reiciendis. Ipsa, aut voluptas quaerat.
    </p>
  </div>
</div>
