<div class="col-lg-3 col-md-6">
  <div class="footer-content">
    <h3 class="title text-default">Contact us</h3>
    <ul class="social-links circle animated-effect-1 mt-0 mb-1">
      <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
      <li class="twitter"><a target="_blank" href="http://plus.google.com"><i class="fa fa-twitter"></i></a></li>
      <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
      <li class="youtube"><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
    </ul>
    <ul class="list-icons">
      <li><i class="fa fa-map-marker pr-10 text-default"></i><%= Settings.information.address %></li>
      <li><i class="fa fa-phone pr-10 text-default"></i><%= Settings.information.phone_no %></li>
      <li><a href="mailto:<%= Settings.information.email %>"><i class="fa fa-envelope-o pr-10"></i><%= Settings.information.email %></a></li>
    </ul>
  </div>
</div>
