<section class="section clearfix">
   <div class="container">
      <div class="row">
         <div class="col-lg-6">
            <h3 class="mt-4">Latest <span class="text-default">News</span></h3>
            <div class="separator-2"></div>
            <div class="block">
               <div class="media margin-clear">
                  <div class="d-flex pr-2">
                     <div class="overlay-container">
                        <img class="media-object" src="/assets/medical-blog-thumb-1.jpg" alt="blog-thumb">
                        <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                     </div>
                  </div>
                  <div class="media-body">
                     <h5 class="media-heading mb-2"><a href="blog-post.html">Lorem ipsum dolor sit amet</a></h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.</p>
                     <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                  </div>
               </div>
               <hr>
               <div class="media margin-clear">
                  <div class="d-flex pr-2">
                     <div class="overlay-container">
                        <img class="media-object" src="/assets/medical-blog-thumb-3.jpg" alt="blog-thumb">
                        <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                     </div>
                  </div>
                  <div class="media-body">
                     <h5 class="media-heading mb-2"><a href="blog-post.html">Cum eligendi nisi rerum porro</a></h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.</p>
                     <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <h3 class="mt-4">Our <span class="text-default">Departments</span></h3>
            <div class="separator-2"></div>
            <div class="collapse-style-2 mb-4" id="accordion-2" role="tablist" aria-multiselectable="true">
               <div class="card">
                  <div class="card-header" role="tab" id="headingOne">
                     <h4 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2">
                        <i class="fa fa-eye pr-10"></i>Ophthalmology
                        </a>
                     </h4>
                  </div>
                  <div id="collapseOne-2" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                     <div class="card-block bordered p-15">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officiaasd.
                        <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                     </div>
                  </div>
               </div>
               <div class="card">
                  <div class="card-header" role="tab" id="headingTwo">
                     <h4 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" class="collapsed" aria-expanded="true" aria-controls="collapseTwo-2">
                        <i class="fa fa-leaf pr-10"></i>Primary care
                        </a>
                     </h4>
                  </div>
                  <div id="collapseTwo-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                     <div class="card-block bordered p-15">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officiaasd. <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                     </div>
                  </div>
               </div>
               <div class="card">
                  <div class="card-header" role="tab" id="headingSix">
                     <h4 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseSix-2" class="collapsed" aria-expanded="true" aria-controls="collapseSix-2">
                        <i class="fa-heart fa pr-10"></i>Cardiology
                        </a>
                     </h4>
                  </div>
                  <div id="collapseSix-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                     <div class="card-block bordered p-15">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officiaasd. <a href="#">Read More<i class="fa fa-long-arrow-right pl-1"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <h3 class="mt-4">Health <span class="text-default">Services</span></h3>
            <div class="separator-2"></div>
              <div class="image-box style-2">
                <div class="overlay-container overlay-visible">
                   <img src="/assets/medical-service-1.jpg" alt="">
                   <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                   <div class="overlay-bottom hidden-xs">
                      <div class="text"><p class="lead margin-clear text-left">Medical Education</p></div>
                   </div>
                </div>
                <div class="body padding-horizontal-clear">
                   <p>Lorem ipsum dolor sit amet, consectetur adipis elit. Aliquam atque ipsam nihil dood truck quinoa.</p>
                   <a class="link-dark" href="page-services.html">Read More<i class="pl-1 fa fa-angle-double-right"></i></a>
                </div>
              </div>
         </div>
      </div>
   </div>
</section>
