<section class="pv-40 light-gray-bg clearfix">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="title logo-font text-center text-default"><span class="text-muted">About the </span>Vinalign Orthodontic System</h3>
        <div class="separator"></div>
      </div>
      <div class="col-lg-6">
        <p class="text-justify">
          You want braces to have good and beautiful teeth, but you are not con dent enough to use traditional braces by attaching braces on teeth. Come to Orthodontic Tray Technology throughout Vinalign to experience the most modern orthodontic approach today.
          <br />
          <br />
          With superior precision technology, the Vignign system uses 3D (digital) technology to create orthodontic trays that are completely aesthetically correct and e ective. What more do you have? Come and consult with our experts!
        </p>
      </div>
      <div class="col-lg-6">
        <%= image_tag "/assets/demo.png" %>
      </div>
    </div>
  </div>
</section>
