<section class="full-width-section">
   <div class="full-image-container light-gray-bg">
      <img class="to-right-block" src="/assets/medical-section-image-1.jpg" alt="">
      <div class="full-image-overlay text-right">
         <h3 class="mt-4">With Compassionate Care Since 1930</h3>
         <ul class="list-icons">
            <li>We are here to support you <i class="icon-check-1"></i></li>
            <li>Free updates <i class="icon-check-1"></i></li>
            <li>ipsam asperiores fugiat quo <i class="icon-check-1"></i></li>
            <li>Animi veniam veritatis sint <i class="icon-check-1"></i></li>
            <li>Voluptatum officia suscipit <i class="icon-check-1"></i></li>
            <li>Unlimited options and variations <i class="icon-check-1"></i></li>
         </ul>
      </div>
   </div>
   <div class="full-text-container light-gray-bg">
      <h3 class="logo-font mt-4"><span class="text-muted">The</span> <span class="text-default">Clinic</span></h3>
      <div class="separator-2 hidden-lg-down"></div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi veniam, veritatis sint consequuntur!
        Natus, culpa, explicabo! Non quo laboriosam nobis quia, amet excepturi optio dolor impedit. Perferendis
        libero unde, nulla deserunt sequi. Voluptatum,officia suscipit porro reprehenderit vitae quo rem reiciendis,
        a vero quae. Vero beatae voluptatum.
      </p>
      <div class="separator-3 hidden-lg-down"></div>
   </div>
</section>
