<section class="pv-40 full-width-section home-section">
   <div class="full-image-container light-gray-bg">
      <img class="to-right-block" src="https://static1.squarespace.com/static/59125d479de4bb482fd14c86/t/591e4946d2b857b12763e8d9/1495157082498/anchorage-invisalign-clear-aligner" alt="">
      <div class="full-image-overlay text-right">
         <h3 class="mt-4">With Compassionate Care Since 2017</h3>
         <ul class="list-icons">
            <li>We are here to support you correct your teeth position</li>
         </ul>
      </div>
   </div>
   <div class="full-text-container light-gray-bg">
      <h3 class="logo-font mt-4"><span class="text-muted">The</span> <span class="text-default">Vinalign Aligner</span></h3>
      <div class="separator-2 hidden-lg-down"></div>
      <p>
        Correct the position of your teeth in the most discreet way - with VINALIGN ALIGNER,
         the transparent splint system by VINALIGN
      </p>
      <div class="separator-3 hidden-lg-down"></div>
   </div>
</section>
