<section class="main-container">
  <div class="container">
    <%= render "pages/homes/news" %>
    <%= render "pages/homes/technologies" %>
    <%= render "pages/homes/orthodontic_system" %>
  </div>
</section>
