<section class="main-container">
  <div class="container">
    <%= render "pages/homes/news" %>
    <% if @home_posts.try(:size) %>
      <%= render "pages/homes/technologies", post: @home_posts.first %>
      <%= render "pages/homes/posts", posts: @home_posts[0..-2] %>
    <% end %>
  </div>
</section>
