<div class="front-page">
   <div class="scrollToTop circle"><i class="fa fa-arrow-up"></i></div>
   <div class="page-wrapper">
      <div id="page-start"></div>
      <%= render "technologies" %>
      <%= render "orthodontic_system" %>
      <%= render "general_info" %>
   </div>
</div>
