<div class="front-page">
   <div class="scrollToTop circle"><i class="fa fa-arrow-up"></i></div>
   <div class="page-wrapper">
      <div id="page-start"></div>
      <%= render "general_info" %>
      <%= render "news_and_services" %>
      <%= render "technologies" %>
      <%= render "team_introduction" %>
   </div>
</div>
