<div class="container">
  <div class="front-page">

     <div class="page-wrapper">
        <div id="page-start"></div>
        <%= render "pages/homes/technologies" %>
        <%= render "pages/homes/orthodontic_system" %>
        <%= render "pages/homes/news" %>
     </div>
  </div>
</div>
