<section class="main-container">
  <div class="container">
    <div class="main">
      <h1 class="page-title"><%= t ".#{category}" %></h1>
      <div class="separator-2"></div>
      <%= render partial: :article, collection: @articles, as: :article %>

      <!-- pagination start -->
      <div class="paginate">
        <%= paginate @articles, theme: "front-bs4" %>
      </div>
    </div>
  </div>
</section>
