<div class="col-2 col-md-5">
  <div class="header-top-first clearfix">
    <ul class="social-links circle small clearfix hidden-sm-down">
      <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
      <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
      <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
      <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
    </ul>
    <ul class="list-inline hidden-sm-down">
      <li class="list-inline-item header-item"><strong class="pl-1">Call Us: </strong><a class="link-light" target="_blank" href="tel:+841234567890">+841234567890</a></li>
    </ul>
    <div class="social-links hidden-md-up circle small">
      <div class="btn-group dropdown">
        <button id="header-top-drop-1" type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i></button>
        <ul class="dropdown-menu dropdown-animation" aria-labelledby="header-top-drop-1">
         <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
         <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
         <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
         <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
         <li class="phone"><a target="_blank" href="tel:+841234567890"><i class="fa fa-phone"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
