<div class="col-2 col-md-5">
  <div class="header-top-first clearfix">
    <ul class="social-links circle small clearfix hidden-sm-down">
      <li class="facebook"><a target="_blank" href="https://www.facebook.com/vinalignvietnam/"><i class="fa fa-facebook"></i></a></li>
      <li class="instagram"><a target="_blank" href="https://www.instagram.com/vinalignvietnam"><i class="fa fa-instagram"></i></a></li>
      <li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCfTE44_ypOKnhYqx3gbiWVw/featured"><i class="fa fa-youtube"></i></a></li>
    </ul>
    <ul class="list-inline hidden-sm-down">
      <li class="list-inline-item header-item"><strong class="pl-1">Call us: </strong><a class="link-light" target="_blank" href="tel:+841234567890">(+84) 0243 7552 999</a></li>
    </ul>
    <div class="social-links hidden-md-up circle small">
      <div class="btn-group dropdown">
        <button id="header-top-drop-1" type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i></button>
        <ul class="dropdown-menu dropdown-animation" aria-labelledby="header-top-drop-1">
          <<li class="facebook"><a target="_blank" href="https://www.facebook.com/vinalignvietnam/"><i class="fa fa-facebook"></i></a></li>
          <li class="instagram"><a target="_blank" href="https://www.instagram.com/vinalignvietnam"><i class="fa fa-instagram"></i></a></li>
          <li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCfTE44_ypOKnhYqx3gbiWVw/featured"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
