<div class="header-top colored">
  <div class="container">
     <div class="row">
        <%= render "layouts/header/contact" %>
        <%= render "layouts/header/devise_buttons" %>
     </div>
  </div>
</div>
