<tr>
  <td>
    <%= index_on_pagination clinic_counter, assigns["clinics"].current_page,
      Settings.clinics.per_page %>
  </td>
  <td><%= link_to clinic.name, admin_clinic_path(clinic) %></td>
  <td><%= clinic.full_address %></td>
  <td>
  </td>
</tr>
