<tr>
  <td>
    <%= index_on_pagination clinic_counter, assigns["clinics"].current_page,
      Settings.clinics.per_page %>
  </td>
  <td><%= clinic.name %></td>
  <td><%= clinic.full_address %></td>
  <td>
  </td>
</tr>
