<% provide :header_title, t(".edit_clinic") %>
<% breadcrumb :admin_edit_clinic, @clinic %>
<% content_for :clinics_activation, "active" %>
<div class="box">
  <div class="box-body">
    <%= form_for [:admin, @clinic], html: {class: "form-horizontal", multipart: true} do |f| %>
      <%= render "form", f: f, clinic: @clinic %>
      <%= render "manager_form", f: f, clinic: @clinic %>
    <% end %>
  </div>
</div>
