<% content_for :clinics_activation, "active" %>
<%= render "admin/clinics/provide_clinic_side_bar", clinic: @clinic, current_site: :details %>
<% provide :header_title, t(".clinic_title_html", clinic_name: @clinic.name) %>
<% breadcrumb :admin_clinic, @clinic %>
<div class="row">
  <div class="col-md-6">
    <%= render "clinic_info", clinic: @clinic %>
  </div>
  <div class="col-md-6">
    <%= render "doctor_manager_info", doctor: @clinic.doctor %>
  </div>
</div>
