<div class="row">
  <div class="col col-md-8">
    <%= render "shared/treatment_phases/conversation", treatment_phase: treatment_phase,
      messages: support.messages %>
  </div>

  <div class="col col-md-4">
    <%= render "shared/treatment_phases/treatment_plan_files", 
      treatment_plan_files: support.treatment_plan_files %>
  </div>
</div>
