.header .navbar-nav li .nav-link {
  padding: 0!important;
  background-color: transparent!important;
  text-transform: uppercase;
  font-weight: 400;
  color: #3697d9;
  &:hover {
    color: #0299ff;
  }
}

.home-section {
  margin-bottom: 40px;
}

.navigation-links .active {
  font-weight: bold!important
}

h1.title {
  font-size: 38px;
}

img.image-full-width {
  width: 100%;
}

.display-one-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-top.colored a {
  text-decoration: none;
  &:hover {
    color: #3697d9;
  }
}

.pointer {
  cursor: pointer;
}

.active-drop {
  .dropdown-menu {
      visibility: hidden;
    .actions {
      visibility: hidden;
      transition-delay: 0s;
    }
    transition-delay: 0.15s;
  }
  &:hover, .dropdown-menu:hover {
    .dropdown-menu {
      visibility: visible;
      transition-delay: 0s;
      .actions {
        visibility: visible;
        transition-delay: 0s;
      }
    }
  }
}

.link-light:hover {
  color: #ffffff!important;
  text-decoration: none!important;
}

.login-dropdown {
  width: 300px;
  padding: 20px;
  .devise-links, p.blue-text {
    a:hover {
      color: #c6c6c6;
    }
  }
}

.devise-form .devise-links {
  margin: 0 1.5rem;
  padding: 0 1.25rem 1.25rem;
}

.main-container {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
  }
  min-height: 40vh;
}

.carousel-caption {
  background: rgba(0,0,0,0.5);
  h2, p.text-muted {
    color: #ffffff!important;
  }
}

@media (min-width: 992px) {
  #navbar-collapse-1 {
    display: block!important;
  }

  .navigation-links {
    padding: 5px 0;
    .nav-link {
      border: none!important;
    }
    .nav-item a {

    }

    .nav-seperated {
      border-left: 1px solid #cccccc;
    }
  }

  .main-navigation .navbar-nav>li {
    margin: 0 6px;
    &:first-child {
      margin-right: 6px;
    }
  }

  .header-baner {
    padding-bottom: 7px;
  }

  .site-slogan {
    font-size: 30px;
    letter-spacing: 2px;
  }
}
