#images-presentation {
  span.image-name {
    word-break: break-all;
    word-wrap: break-word;
  }

  .image-link {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }
}
