#sticked-navbar {
  overflow: hidden;
  z-index: 1000;
}

.sticked {
  position: fixed;
  top: 0;
  width: 100%
}

.sticked-body {
  margin-top: 136px;
}

.sticked-body-mobile-collapse {
  margin-top: 203px;
}

@media (max-width: 991px) {
  .sticked-body {
    margin-top: 63px;
  }
}
