<p>Xin chào <%= @email %>!</p>

<p> Cảm ơn bạn đã đăng ký tài khoản Vinalign Việt Nam </p>
<p> Để hoàn thành việc đăng ký tài khoản, bạn hãy kích hoạt tài khoản bằng đường dẫn dưới đây:</p>
<p>
  <h2>
    <strong>
      <%= link_to "XÁC NHẬN TÀI KHOẢN", confirmation_url(@resource, confirmation_token: @token) %>
    </strong>
  </h2>
</p>

<p>Cảm ơn bạn đã đăng ký!</p>
</br>
<p> Vinalign Việt Nam.</p>
