<p>Xin chào <%= @resource.email %>!</p>

<p>Chúng tôi đã nhận yêu cầu đặt lại mật khẩu tài khoản Vinalign của bạn. Nhấp vào liên kết phía dưới để đặt lại mật khẩu mới:</p>

<p><%= link_to "Đặt lại mật khẩu", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu bạn không đưa yêu cầu trên, xin hãy bỏ qua email này.</p>
<p>Mật khẩu của bạn sẽ không bị thay đổi đến khi bạn vào đường dẫn phìa trên và tạo mới mật khẩu.</p>
</br>
<p> Vinalign Việt Nam.</p>
