<% provide :header_title, t(".new_user") %>
<% content_for :users_activation, "active" %>
<div class="box">
  <div class="box-body">
    <%= form_for [:admin, @user], html: {class: "form-horizontal", multipart: true} do |f| %>
      <%= render "form", f: f, user: @user %>
    <% end %>
  </div>
</div>
