<div class="row">
  <div class="col col-md-3">
    <div class="list-group" id="album-list">
      <%= render partial: "album", collection: @support.albums, as: :album %>
    </div>
    <%= link_to new_clinic_management_treatment_phase_album_path(treatment_phase), remote: true,
      class: "btn btn-primary btn-flat" do %>
      <i class="fa fa-plus"></i>
      <%= t ".new_album" %>
    <% end %>
  </div>
  <div class="col col-md-9">
    <div id="images-presentation">
    </div>
  </div>
</div>
