<%= render "shared/patient_records/provide_patient_record_side_bar",
  patient_record: @treatment_phase.patient_record, scope: :clinic_management, current_site: :treatment_phases %>
<% content_for "treatment_phase_#{active_tab}_activation".to_sym, "active" %>
<% provide :header_title, t(".treatment_phase_title_html", treatment_phase_name: @treatment_phase.name,
  patient_record_name: @treatment_phase.patient_record.full_name) %>
<% breadcrumb :clinic_mngt_patient_record_treatment_phase, @treatment_phase %>
<div class="box">
  <div class="box-body">
    <%= render "shared/treatment_phases/general_information", treatment_phase: @treatment_phase %>
  </div>
</div>
<div class="nav-tabs-custom">
  <%= render "nav_tabs", treatment_phase: @treatment_phase, scope: :clinic_management %>
  <div class="tab-content">
    <%= render "#{active_tab}_tab", treatment_phase: @treatment_phase, support: @support %>
  </div>
</div>
