<% if policy(album).add_images? %>
  <%= form_tag album_images_path(album), multipart: true, authenticity_token: true,
    class: "auto_upload_files" do %>
    <%= file_field_tag :sources, multiple: true, name: "sources[]" %>
  <% end %>
<% end %>
<div class="row">
  <%= render partial: :image, collection: images, as: :image %>
</div>
