<div class="row">
  <div class="col-md-12">
    <%= button_tag class: "btn btn-primary btn-flat pull-right", id: "add-images",
      data: {toggle: "modal", target: "#modal-upload-images"} do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
      <%= t(".add") %>
    <% end %>
    <h4><%= t(".album", album_name: @album.name) %></h4>
  </div>
</div>
</br>
<div class="row">
  <%= render partial: :image, collection: images, as: :image %>
</div>
