<% provide :header_title, t(".edit_expert_title_html", name: @expert.full_name) %>
<% breadcrumb :admin_edit_expert, @expert %>
<% content_for :experts_activation, "active" %>
<div class="box">
  <div class="box-body">
    <%= form_for [:admin, @expert], html: {class: "form-horizontal", multipart: true} do |f| %>
      <%= render "form", f: f, expert: @expert %>
    <% end %>
  </div>
</div>
