<footer id="footer" class="clearfix separator">
  <div class="footer">
    <div class="footer-inner container">
        <div class="row">
          <%= render "layouts/footer/about" %>
          <%= render "layouts/footer/contact" %>
        </div>
    </div>
  </div>
</footer>
